In [54]:
import pandas as pd

In [55]:
data = pd.read_csv('titanic_data.csv')

In [56]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [57]:
data = data[['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked','Survived']]

In [58]:
data = data.drop(['PassengerId','Name','Ticket','Cabin'], axis = 1)

In [59]:
data.dropna(inplace = True)

In [60]:
data.reset_index(inplace = True)
data = data.drop(['index'], axis = 1)

In [61]:
target = data['Survived']
data.drop(['Survived'], axis = 1, inplace = True)

In [62]:
data['Sex'][data['Sex'] == 'male'] = 1
data['Sex'][data['Sex'] == 'female'] = 2

data['Embarked'][data['Embarked'] == 'S'] = 1
data['Embarked'][data['Embarked'] == 'C'] = 2
data['Embarked'][data['Embarked'] == 'Q'] = 3

C:\Users\Acer\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Acer\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Acer\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Acer\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Acer\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [63]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, target)

In [64]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier


model = RandomForestClassifier()
model.fit(X_train,y_train)

predicted_y = model.predict(X_test)

In [65]:
from sklearn.metrics import roc_auc_score

score = roc_auc_score(y_test,predicted_y)

In [66]:
score

0.7692759295499021

In [67]:
X_test

     Pclass Sex   Age  SibSp  Parch      Fare Embarked
427       1   2  36.0      0      2   71.0000        1
566       2   1  52.0      0      0   13.0000        1
241       3   1  19.0      0      0    0.0000        1
159       3   1  34.0      0      0    6.4958        1
16        3   2  31.0      1      0   18.0000        1
..      ...  ..   ...    ...    ...       ...      ...
88        3   2  17.0      0      0   14.4583        2
173       2   1  42.0      1      0   27.0000        1
44        3   1  11.0      5      2   46.9000        1
395       1   2  25.0      1      2  151.5500        1
318       2   1  46.0      0      0   26.0000        1

[178 rows x 7 columns]

In [70]:
model.predict([[1,2,31.0,0,2,164.8667,1]])

array([1], dtype=int64)

In [69]:
X_train

     Pclass Sex   Age  SibSp  Parch     Fare Embarked
135       1   1  61.0      0      0  33.5000        1
102       3   1  20.0      0      0   7.0500        1
439       3   2  22.0      0      0   7.7750        1
42        3   1  28.5      0      0   7.2292        2
118       2   1  36.5      0      2  26.0000        1
..      ...  ..   ...    ...    ...      ...      ...
446       3   1  24.0      2      0  24.1500        1
152       3   2  19.0      1      0   7.8542        1
172       3   2  27.0      0      0   7.9250        1
408       3   1  24.0      0      0   7.4958        1
101       3   1  33.0      0      0   7.8958        2

[534 rows x 7 columns]